# Игнорируем папку node_modules
node_modules/

# Игнорируем временные файлы
*.log
*.tmp

# Игнорируем другие файлы, которые не должны быть в репозитории
.DS_Store
.env
Telnyx-test-plan.xlsx
~$Telnyx-test-plan.xlsx